{
	servers {
		metrics
	}
	admin :2019
}

localhost:80 {
	reverse_proxy crocotube:8080
	log {
		output file /var/log/caddy/localhost.log
	}
}

keycloak.localhost:80 {
	reverse_proxy keycloak:8000
}

smtp4dev.localhost:80 {
	reverse_proxy smtp4dev:80
}

grafana.localhost:80 {
	handle /oauth2/* {
		reverse_proxy forward-auth:4180 {
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-Uri {uri}
		}
	}

	handle {
		forward_auth forward-auth:4180 {
			uri /oauth2/auth

			header_up X-Real-IP {remote_host}

			@error status 401
			handle_response @error {
				redir * /oauth2/sign_in?rd={scheme}://{host}:{port}{uri}
			}
		}

		reverse_proxy grafana:3000
	}
}

jackett.localhost:80 {
	handle /oauth2/* {
		reverse_proxy forward-auth:4180 {
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-Uri {uri}
		}
	}

	handle {
		forward_auth forward-auth:4180 {
			uri /oauth2/auth

			header_up X-Real-IP {remote_host}

			@error status 401
			handle_response @error {
				redir * /oauth2/sign_in?rd={scheme}://{host}:{port}{uri}
			}
		}

		reverse_proxy jackett:9117
	}
}
