{
	servers {
		metrics
	}
	admin :2019
}

localhost:80 {
	reverse_proxy crocotube:8080
	log {
		output file /var/log/caddy/localhost.log
	}
}

keycloak.localhost:80 {
	reverse_proxy keycloak:8000
}

(auth) {
	{args.0}.localhost:80 {
		handle /oauth2/* {
			reverse_proxy forward-auth:4180 {
				header_up X-Real-IP {remote_host}
				header_up X-Forwarded-Uri {uri}
			}
		}

		handle {
			forward_auth forward-auth:4180 {
				uri /oauth2/auth

				header_up X-Real-IP {remote_host}

				@error status 401
				handle_response @error {
					redir * /oauth2/sign_in?rd={scheme}://{host}:{port}{uri}
				}
			}

			reverse_proxy {args.1}
		}
	}
}

import auth smtp4dev smtp4dev:80
import auth grafana grafana:3000
import auth jackett jackett:9117
