.columns.is-mobile {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.columns.is-mobile::-webkit-scrollbar {
	display: none;
}

.headline-content {
	position: absolute;
	left: 5vw;
	width: 29vw;
	height: 15vw;
	top: 11vw;
}

.headline-tilte {
	position: absolute;
	font-size: 3vw;
	font-weight: bold;
	color: white;
}

.headline-overview {
	position: absolute;
	top: 5vw;
	font-size: 1vw;
	color: #ecebde;
	width: 29vw;
}

#play-button {
	position: absolute;
	top: 15vw;
	outline: solid 1px mediumslateblue;
}

.headline-gradient {
	position: absolute;
	content: "";
	left: 0px;
	top: 16vw;
	height: 100%;
	width: 100%;
	background: linear-gradient(transparent, #14161a);
	pointer-events: none;
}

.headline-gradient-left {
	position: absolute;
	content: "";
	left: -404px;
	height: 131%;
	width: 100%;
	background: linear-gradient(to left, transparent, #14161a);
	pointer-events: none;
}

.card {
	position: relative;
}

.card::before {
	content: attr(data-title);

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scale(1.1);
	padding: 10px;
	margin-bottom: 10px;

	background: rgba(0, 0, 0, 0.8);
	color: white;
	display: none;
	box-sizing: border-box;
	z-index: 10;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	text-align: center;
	font-size: clamp(8px, 24px, 24px);
}

.card::after {
	content: attr(data-overview);

	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: calc(99% - 50px);
	transform: scale(1.1);
	padding: 10px;

	background:  transparent;
	color: white;
	display: none;
	box-sizing: border-box;
	z-index: 10;

	overflow: hidden;
	text-align: center;
	font-size: 13px;
}

.card:hover .card-content {
	display: none;
}

.card .card-image .image.is-4by5 .poster-file{
	position: relative;
	z-index: 1;
	transition: transform 0.1s ease;
}

.card:hover .card-image .image.is-4by5 .poster-file{
	height: 121%; /* That was the better percentage */
	border-radius: 2px; /* 0px cause a graphic bug */
	transform: scale(1.1);
	object-fit: cover;
}

.card:hover::before,
.card:hover::after {
	display: block;
}

.cell {
	flex: 0 0 auto !important;
	width: 250px !important;
}

.list {
	position: relative;
	overflow: hidden;
	margin-bottom: 35px;
}

.control.arrows {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 11;
}

.arrow-left {
	opacity: 0;
}

.arrow-left, .arrow-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	pointer-events: auto;
	transition: opacity 0.3s ease;
}

.arrow-left {
	left: 10px;
}

.arrow-right {
	right: 10px;
}
